* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  outline: none; }

@font-face {
  font-family: "fangzheng";
  src: url("../fonts/FZY1JW.TTF"); }
@font-face {
  font-family: "youyuan";
  src: url("../fonts/SIMYOU.TTF"); }
@font-face {
  font-family: "huawen";
  src: url("../fonts/STXIHEI.TTF"); }
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
    -ms-transform: translate3d(0, 50px, 0);
    -moz-transform: translate3d(0, 50px, 0);
    -webkit-transform: translate3d(0, 50px, 0);
    -o-transform: translate3d(0, 50px, 0); }
  to {
    opacity: 1;
    transform: none;
    -ms-transform: none;
    -moz-transform: none;
    -webkit-transform: none;
    -o-transform: none; } }
@-moz-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
    -ms-transform: translate3d(0, 50px, 0);
    -moz-transform: translate3d(0, 50px, 0);
    -webkit-transform: translate3d(0, 50px, 0);
    -o-transform: translate3d(0, 50px, 0); }
  to {
    opacity: 1;
    transform: none;
    -ms-transform: none;
    -moz-transform: none;
    -webkit-transform: none;
    -o-transform: none; } }
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
    -ms-transform: translate3d(0, 50px, 0);
    -moz-transform: translate3d(0, 50px, 0);
    -webkit-transform: translate3d(0, 50px, 0);
    -o-transform: translate3d(0, 50px, 0); }
  to {
    opacity: 1;
    transform: none;
    -ms-transform: none;
    -moz-transform: none;
    -webkit-transform: none;
    -o-transform: none; } }
@-o-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
    -ms-transform: translate3d(0, 50px, 0);
    -moz-transform: translate3d(0, 50px, 0);
    -webkit-transform: translate3d(0, 50px, 0);
    -o-transform: translate3d(0, 50px, 0); }
  to {
    opacity: 1;
    transform: none;
    -ms-transform: none;
    -moz-transform: none;
    -webkit-transform: none;
    -o-transform: none; } }
.fadeInUp {
  animation: fadeInUp 1s 1;
  -webkit-animation: fadeInUp 1s 1; }

.btn {
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; }
  .btn:hover, .btn:focus, .btn:active {
    background: #fff !important;
    color: #000 !important;
    border: 1px solid #000 !important;
    box-shadow: none;
    outline: none; }

.btn-green {
  padding: 8px 20px;
  border: 1px solid #92c528;
  background-color: #92c528;
  font-size: 1.8rem;
  color: #fff; }

h2 {
  font-family: "youyuan";
  text-align: center;
  margin: 30px 0; }

h3 {
  font-size: 2rem;
  text-align: left;
  margin: 20px 0; }

html {
  width: 100%; }

body {
  font-family: "huawen","youyuan","Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1.428571429;
  color: #333; }

header {
  width: 100%;
  min-height: 260px;
  margin: 0 auto;
  padding: 0 0 0 0;
  position: relative;
  background: url("../images/bg1.jpg") no-repeat;
  overflow: hidden; }

nav {
  width: 100%;
  overflow: hidden; }

.top_wrap {
  width: 1002px;
  margin: 0 auto; }

.logo_wrap {
  width: 200px;
  float: left;
  margin: 35px 0 0 0; }

ul.menu_li {
  float: right;
  margin-bottom: 0; }
  ul.menu_li li.active, ul.menu_li li.active a {
    background: #92c528;
    color: #fff; }
  ul.menu_li li:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #92c528;
    transform: scaleY(0);
    -ms-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -o-transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    transition: transform 0.4s ease-out;
    -moz-transition: transform 0.4s ease-out;
    -webkit-transition: transform 0.4s ease-out;
    -o-transition: transform 0.4s ease-out; }
  ul.menu_li li:hover:before, ul.menu_li .li:focus:before, ul.menu_li li:active:before {
    transform: scaleY(1);
    -ms-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -o-transform: scaleY(1);
    color: #fff; }
  ul.menu_li li:hover a, ul.menu_li li:focus a, ul.menu_li li:active a {
    color: #fff; }
  ul.menu_li li {
    width: 120px;
    height: 140px;
    margin: 0 2px;
    float: left;
    text-align: center;
    transform: translateZ(0);
    -ms-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -o-transform: translateZ(0);
    position: relative; }
    ul.menu_li li a {
      color: #4D3A12;
      font-size: 1.8rem;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      white-space: nowrap; }
      ul.menu_li li a span {
        display: block;
        font-size: 1.4rem;
        line-height: 2.6rem; }

.menu_catalog {
  float: right;
  margin: 35px 10px 0 0;
  display: none;
  cursor: pointer; }
  .menu_catalog i {
    width: 25px;
    height: 3px;
    position: relative;
    display: inline-block;
    background: #000;
    transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out; }
  .menu_catalog i:before {
    content: '';
    width: 25px;
    height: 3px;
    position: absolute;
    background: #000;
    top: -7px;
    left: 0;
    transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out; }
  .menu_catalog i:after {
    content: '';
    width: 25px;
    height: 3px;
    position: absolute;
    background: #000;
    top: -14px;
    left: 0;
    transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out; }

ul.menu_list {
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: none;
  position: absolute;
  top: 68px;
  left: 0;
  z-index: 2; }
  ul.menu_list li {
    width: 100%;
    padding: 7px 40px;
    position: relative; }
    ul.menu_list li a {
      display: block;
      color: #4D3A12;
      font-size: 1.6rem;
      line-height: 2.6rem; }
      ul.menu_list li a span {
        font-size: 1.4rem;
        padding: 0 0 0 14px; }
  ul.menu_list li.cur {
    border-bottom: 1px solid #92c528; }
  ul.menu_list li:hover a {
    color: #92c528; }
  ul.menu_list li:not(.cur):before {
    content: "";
    width: 100%;
    height: 1px;
    background: #92c528;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    -ms-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -o-transform: scaleX(0);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    transition: transform 0.4s ease-out;
    -moz-transition: transform 0.4s ease-out;
    -webkit-transition: transform 0.4s ease-out;
    -o-transition: transform 0.4s ease-out; }
  ul.menu_list li:hover:before, ul.menu_list li:focus:before, ul.menu_list li:active:before {
    transform: scaleX(1);
    -ms-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -o-transform: scaleX(1); }

.banner_con {
  width: 1002px;
  margin: 0 auto; }

.img_wrap {
  width: 100%;
  padding: 0 0 50px 0;
  overflow: hidden; }
  .img_wrap p {
    font-family: "fangzheng";
    text-align: center;
    font-size: 2.4rem;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 120px 0 40px 0; }

.img_border {
  width: 42%;
  margin: 0 3.8%;
  padding: 40px 0;
  display: inline-block;
  background-color: rgba(252, 252, 252, 0.3);
  text-align: center;
  cursor: pointer; }
  .img_border img {
    border-radius: 50%; }

.img_border:first-child {
  float: left; }

.img_border:last-child {
  float: right; }

.main_wrap1 {
  background-color: #fff;
  width: 100%; }

.welcome {
  width: 1002px;
  margin: auto;
  padding: 10px 0 20px 0; }
  .welcome p {
    font-size: 1.8rem;
    text-align: left;
    line-height: 2.6rem;
    text-indent: 3rem;
    padding: 10px 0; }

.main_wrap2 {
  width: 80%;
  margin: auto;
  background-color: #fafafa; }

.pro_show {
  padding: 20px;
  overflow: hidden; }

.pro_con {
  margin: 0 auto; }

.pro_con_left, .pro_con_right {
  width: 50%;
  height: 480px;
  font-size: 1.8rem;
  float: left;
  color: #333;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden; }

.right {
  float: right; }

.pro_con_right {
  padding: 3rem 4rem;
  overflow: hidden;
  box-sizing: border-box; }
  .pro_con_right p {
    font-size: 2.4rem; }
  .pro_con_right table {
    line-height: 2.4rem;
    border-collapse: collapse; }
    .pro_con_right table tr td {
      padding: 2px 6px 2px 0;
      vertical-align: top; }
    .pro_con_right table tr :first-child {
      white-space: nowrap; }
  .pro_con_right button.btn-green {
    margin: 30px 0 0 0; }

.main_wrap3 {
  background-color: #fff; }

.talented_person {
  width: 70%;
  margin: 0 auto;
  padding: 20px 0 0 0; }

.person_con {
  width: 25%;
  float: left;
  padding: 1rem; }
  .person_con h3 {
    position: relative;
    padding: 0 0 20px 0;
    margin: 20px 0; }
  .person_con h3:after {
    width: 32px;
    height: 2px;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: #e32929; }
  .person_con p {
    font-size: 1.5rem; }

.teaching_con, .new_view_con {
  width: 1002px;
  margin: 20px auto 0; }
  .teaching_con h2, .new_view_con h2 {
    line-height: 4.4rem;
    border-bottom: 1px solid #e5e5e5; }

.teaching_con section {
  width: 100%;
  padding: 20px;
  overflow: hidden;
  height: 260x;
  border-bottom: 1px dotted #E8E8E8; }
  .teaching_con section .teaching_img {
    width: 48%;
    float: left;
    height: 220px;
    overflow: hidden; }
  .teaching_con section dl {
    margin: 8px 0 0 0;
    width: 48%;
    float: right; }
    .teaching_con section dl dt {
      padding: 6px 0; }
      .teaching_con section dl dt a {
        display: block;
        font-size: 1.8rem;
        color: #333;
        font-weight: normal;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
    .teaching_con section dl dd {
      font-size: 1.6rem;
      padding: 5px 10px; }
      .teaching_con section dl dd span {
        font-size: 1.4rem;
        color: #92c528; }
      .teaching_con section dl dd label {
        font-size: 1.4rem;
        line-height: 1.4rem;
        font-weight: normal; }
    .teaching_con section dl dd.teaching_text {
      line-height: 2rem;
      max-height: 106px;
      overflow: hidden; }

.view_show {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  position: relative; }
  .view_show section {
    float: left;
    width: 230px;
    border: 1px solid #D7D7D7;
    overflow: hidden;
    position: absolute;
    opacity: 0; }
    .view_show section .new_view_img {
      width: 100%;
      display: block;
      overflow: hidden;
      cursor: pointer; }
      .view_show section .new_view_img .tit {
        width: 100%;
        display: block;
        overflow: hidden;
        padding: 10px 0 8px 10px;
        color: #333;
        font-size: 1.6rem;
        border-bottom: 1px solid #e5e5e5; }
      .view_show section .new_view_img .author_info {
        width: 100%;
        height: 80px;
        padding: 10px 20px;
        color: #F5F5F5;
        overflow: hidden;
        background: #FBFBFB; }
        .view_show section .new_view_img .author_info img {
          width: 60px;
          float: left; }
        .view_show section .new_view_img .author_info span {
          float: left;
          padding: 7px 0 0 20px;
          font-size: 1.4rem;
          line-height: 2.1rem;
          color: #333; }

.contact_con {
  width: 1002px;
  margin: 20px auto;
  padding: 0 20px 40px 0; }

.contact_con_left, .contact_con_right {
  margin: 20px 0 0 0;
  width: 50%;
  padding: 0 20px 0 0;
  float: left; }

.contact_con_left p {
  font-size: 1.6rem;
  line-height: 2.4rem; }

.contact_con_right {
  padding: 0 0 0 40px; }
  .contact_con_right input, .contact_con_right textarea {
    width: 90%;
    float: right;
    min-height: 40px;
    padding: 6px 10px;
    margin: 20px 0 0 0;
    font-size: 1.6rem; }
  .contact_con_right textarea {
    min-height: 140px; }
  .contact_con_right button {
    width: 90%;
    float: right;
    margin: 30px 0 0 0; }

/*# sourceMappingURL=style.css.map */
